#__next{

    overflow-x: hidden;

}

@media screen and (min-width: 1024px){
.css-fcr3v7-Banner {
    padding-top: 44px;
    padding-bottom: 50px;
}}

.css-oi3ryu-Banner {
    box-sizing: border-box;
    /* margin: 0; */
    min-width: 0;
    display: grid;
    grid-gap: 15px;
    /* margin-top: 80px; */
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 1fr;
    /* padding-top: 80px; */
}